<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pgmacdesign.silentcamerawidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <!-- Obviously this application uses the camera. This permission is requires as we are not going to use an intent to do so -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- This way, only devices that can take photos will be able to install it -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- To save the photos to the sd card or internal memory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For recording sound on the video record function -->    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To Geo-tag the photos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    

	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<!-- First is the splash screen -->
        <activity
            android:name="com.pgmacdesign.silentcamerawidget.Splash"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        
        <!-- Second activity, which is the main menu -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <!-- The (android:uiOptions="splitActionBarWhenNarrow") is used to move the options bar to the bottom of the screen if there is limited room 
            Reference: http://www.sitepoint.com/better-user-interfaces-android-action-bar/ 
            for more info -->
 
        </activity>
        
        
        <!-- This activity is for shared preferences-->
        <activity       
            android:name=".SharedPrefs"
            android:label="SharedPrefs"  >
  
        </activity>
        
        <!-- Widget class  -->
		<receiver 
			android:name=".MyWidget1"
			android:label="My Widget 1" 
			>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data 
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_stuff" />    
		</receiver>
		
		<!-- This activity configures the widget -->
		<activity
			android:name=".WidgetConfig"
			android:label="Widget Configuration" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"
					/>
			</intent-filter>
		</activity>        
            
        
        <!-- This activity is for shared preferences-->
        <activity       
            android:name=".MainActivity2"
            android:label="Main Activity 2"  
            android:theme="@style/Theme.Transparent"
            >
  
        </activity>		

	  	<activity
		    android:name="com.pgmacdesign.silentcamerawidget.SecondActivity"
		    android:label="@string/second_activity_title"
		    android:parentActivityName="com.pgmacdesign.silentcamerawidget.MainActivity" >
		    <meta-data
		      	android:name="android.support.PARENT_ACTIVITY"
		      	android:value="com.example.actionbar.MainActivity" />
	  	</activity>
		
		
		
    </application>


</manifest>
